# Node.js dependencies
node_modules/

# Python dependencies
__pycache__/
*.pyc

# Environment variables
.env

# Logs
logs/
*.log

# React build folder
/build

# Miscellaneous
.DS_Store
.idea/
.vscode/

# Operating system files
Thumbs.db
